
  <div id="app" class="content">

    <h1>\{{ greeting }}</h1>
    
    <draw_component></draw_component>
  </div>
  <script src="/javascripts/socket.io.js"></script>
  <script>
    var globalInfo = {{{globalInfo}}};

    document.querySelector('body').addEventListener('touchmove', function (ev) {
        event.preventDefault();
    });

    Vue.component('draw_component', {
      template: '\
        <div class="content">\
          <div class="drawBox" v-bind:style="drawDisplay">\
            <canvas id="canvas" v-on:touchstart="drawStart" v-on:touchend="drawEnd" width="300" height="300"></canvas>\
            <div id="keyword-box">\
                <span>画: </span>\
                <span id="keyword" v-html="drawWord"></span>\
            </div>\
            <button class="clearCanvasButton" id="btn" v-on:touchstart="clearCanvas">重画</button>\
            <button class="changeWordButton" id="changebtn" v-on:touchstart="changeWord">换词</button>\
          </div>\
          <div class="showBox" v-bind:style="showDisplay">\
            <canvas id="showCanvas" width="300" height="300"></canvas>\
            <div id="answer-box">\
                <span>猜: </span>\
                <input class="answer" id="answer" v-on:change="guessWordInput" type="text" placeholder="猜到就提交">\
                <button class="submitButton" id="submit" v-on:touchstart="submitMyGuess">提交</button>\
            </div>\
          </div>\
        </div>\
      ',
      data: function () {
        return {
          path: {
            beginX: 0,
            beginY: 0,
            endX: 0,
            endY: 0
          },
          socket : null,
          drawClientId : 0,
          drawDisplay : {
            display : 'block'
          },
          showDisplay : {
            display : 'none'
          },
          moveToSwitch : 1,
          drawWord : '',
          guessWord : '',
          words : [
            '大象','狗','鱼','猫','老虎','狼','老鼠','熊猫','羊','牛','马','兔','龙','蛇','猴子','猪','鸡','企鹅','青蛙','蝴蝶','蜻蜓','蜈蚣','恐龙','水母','海星','老鹰','啄木鸟','鸵鸟','乌龟','蜥蜴','牙膏','牙刷','杯子','柜子','电视机','电话','电脑','衣服','裤子','被子','床','电灯','电冰箱','碗柜','筷子','盆子','锅','锅盖','尺子','笔','本子','书包','书','扫帚','灰斗','烟灰缸','抽油烟机','燃气灶','电磁炉','电饭煲','高压锅','消毒柜','洗碗机','榨汁机','洗衣机','冰箱','空调','iphone'
          ]
        }
      },
      mounted:function(){
        this.socket = this.webSocket();
        this.getDrawWords();
      },
      methods: {
        drawStart:function(){
          console.log('start draw');
          
          var cxt = event.target.getContext('2d');
          var stage_info = canvas.getBoundingClientRect();
          
          window.getSelection() ? window.getSelection().removeAllRanges() : document.selection.empty();
          cxt.strokeStyle = "#fff";
          cxt.lineWidth = 2;
          cxt.beginPath();

          cxt.moveTo(
              event.touches[0].clientX - stage_info.left,
              event.touches[0].clientY - stage_info.top
          );
          this.path.beginX = event.touches[0].clientX - stage_info.left;
          this.path.beginY = event.touches[0].clientY - stage_info.top;
          
          this.drawing();
          document.onmousemove = this.drawing;
          document.ontouchmove = this.drawing;
          this.showing();
        },
        drawing:function(){
          console.log('drawing');
          
          var cxt = event.target.getContext('2d');
          var stage_info = canvas.getBoundingClientRect();
          cxt.lineTo(
              event.touches[0].clientX - stage_info.left,
              event.touches[0].clientY - stage_info.top
          );
          this.path.endX = event.touches[0].clientX - stage_info.left;
          this.path.endY = event.touches[0].clientY - stage_info.top;
          var drawData = parseInt(this.path.beginX) + '.' + parseInt(this.path.beginY) + '.' + parseInt(this.path.endX) + '.' + parseInt(this.path.endY);
          var msg = {'order':'draw','data':drawData};
          this.socket.emit('drawAction', msg);
          cxt.stroke();
        },
        drawEnd:function(){
          console.log('draw end');
          document.onmousemove = document.onmouseup = null;
          var msg = {'order':'stop','data':''};
          this.socket.emit('drawAction', msg);
        },
        clearCanvas:function(){
          console.log('clear');
          var canvas = document.getElementById('canvas');
          var cxt = canvas.getContext('2d');
          cxt.clearRect(0, 0, 320, 320);
          var msg = {'order':'clear','data':''};
          this.socket.emit('drawAction', msg);
        },
        showing:function(data){
          if(this.socket.id != this.drawClientId){
            var canvas = document.getElementById('showCanvas');
            var cxt = canvas.getContext('2d');
            
            var pathObj = data.msg.data.split('.');
            cxt.strokeStyle = "#fff";
            if (this.moveToSwitch && data.msg.order != 'stop' && data.msg.order != 'clear') {
                  cxt.beginPath();
                  cxt.moveTo(pathObj[0], pathObj[1]);
                  this.moveToSwitch = 0;
              } else if (!this.moveToSwitch && data.msg.order == 'stop') {
                  cxt.beginPath();
                  cxt.moveTo(pathObj[0], pathObj[1]);
                  this.moveToSwitch = 1;
              } else if (this.moveToSwitch && data.msg.order == 'clear') {
                  cxt.clearRect(0, 0, 320, 320);
              } 
              cxt.lineTo(pathObj[2], pathObj[3]);
              cxt.stroke();
          }
        },
        judgeUserRole:function(){
          console.log('judgeUserRole');
          if(this.socket.id == this.drawClientId){
            this.drawDisplay = {'display':'block'};
            this.showDisplay = {'display':'none'};
            var msg = {'word':this.drawWord};
            this.socket.emit('setGuessWord', msg);
          }else{
            this.drawDisplay = {'display':'none'};
            this.showDisplay = {'display':'block'};
          }
        },
        getDrawClient:function(){
          console.log('getDrawClient');
          this.socket.emit('getDrawClient');
        },
        setDrawStyle:function(drawClientId){
          console.log('setDrawStyle');
          this.drawClientId = drawClientId;
          this.judgeUserRole();
        },
        getDrawWords:function(){
          
          this.drawWord = this.words[Math.floor(Math.random()*this.words.length)];
        },
        guessWordInput:function(){
          this.guessWord = event.target.value;
        },
        changeWord:function(){
          this.clearCanvas();
          this.getDrawWords();
          this.judgeUserRole();
        },
        submitMyGuess:function(){
          console.log(this.guessWord);
          if(this.guessWord){
            var msg = {'word':this.guessWord};
            this.socket.emit('getGuessWord', msg);
            document.getElementById('answer').value = '';
          }else{
            alert('请输入你猜的词语！');
          }
        },
        guessEnd:function(data){

          alert(data.userName+'猜对啦！');
          this.clearCanvas();
          this.getDrawWords();
          this.judgeUserRole();
        },
        guessWrong:function(data){
          alert('猜错啦！你的答案是：'+ data.answer);
        },
        webSocket:function(){
          
          var url = 'https://duudlesocketserver.herokuapp.com/';
          var info = {
            'userName' : 'user'+new Date().getTime(),
            'roomId' : globalInfo.roomId
          };
          var clients = null;
          var socket = io.connect(url);
          console.log('connected');
          console.log(socket);
          socket.emit('addUser', info);
          socket.on("login",function(data){
            //console.log(data);
            //vue.$children[0].getDrawClient();
          });
          socket.on("userJoined",function(data) {
            console.log(data);
            vue.$children[0].getDrawClient();
          });
          socket.on('newMessage', function (data) {
            console.log(data);
            
          });
          socket.on('drawAction', function (data) {
            console.log('drawAction');
            console.log(data);
            vue.$children[0].showing(data);
          });
          socket.on('getDrawClient', function (data) {
            console.log('getDrawClient');
            console.log(data);
            vue.$children[0].setDrawStyle(data.msg.drawClientId);
          });
          socket.on('guessEnd',function(data){
            console.log('guessEnd');
            console.log(data);
            vue.$children[0].guessEnd(data);
          });
          socket.on('guessWrong',function(data){
            console.log('guessWrong');
            vue.$children[0].guessWrong(data);
          })
          return socket;
        }
      }
    });

    var vue = new Vue({
      el: '#app',
      data: {
        greeting: '你画我猜',
      }
    });

  </script>